
:root {
    --colorPrimaryColour: #0d8bff;    
    --colorSecondaryColour: #d8ecff;    
    --colorBaseColour: #0a0a0a;    
    --colorOffColour: #e6e6e6;    
    --colorNonOff: #0e5979;    
    --colorExtra: #d0e2ea;    
    --colorNeutralColour: #d0e2ea;    
}